/* Font import */ 
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Source+Sans+Pro:wght@200;400;900&display=swap');

h1 {
    font-family: 'Source-sans-pro', Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
h2 {
    font-family: 'Source-sans-pro', Arial, Helvetica, sans-serif;
    font-weight: 300;
}


/* COLORS */

* { 
    background-color:#1f2937;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

@media only screen and (max-width: 600px)  { 
    .menu {font-size: 16px;}
    nav {flex-direction: column;}
    .testimonial-container { padding: 25px;}
    
}

@media only screen and (max-width: 800px) {
.main {flex-direction: column;
gap: 50px;
padding: 20px;}
}

.menu a {
    text-decoration: none;
    color: var(--second-bg-color);
    padding: 10px;
}
.menu  a:hover {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    filter:brightness(150%);
    border-radius: 0px 10px 0px 10px; 
    padding: 10px;  
}

.contact a:hover {
    color: var(--main-text-color);
    background-color: var(--cta-bg-color);
    filter:brightness(150%);
    border-radius: 10px 0px 10px 0px; 
    padding: 10px;  
}
.menu ul{
    padding: 0px;
    margin: 0px;
    color: var(--second-bg-color);
}

.menu li{
    display: inline;
    margin-left: 20px;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20vh;
}
@media only screen and (max-width: 800px)
.main {
    flex-direction: column;
    gap: 50px;
    padding: 20px;
}
